.userItemContainer{
    display: flex;
    flex-direction: row;
}

.userInfoContainer > p{
    margin: 5px 10px;
}

#userItem_username{
    /* font-weight: bold; */
    font-weight: 600;
    font-size: 19px;
}

#userItem_email{
    /* font-weight: bold; */
    font-weight: 500;
    font-size: 17px;
}

.underlinetxt{
    text-decoration: underline;
    cursor: pointer;
}