.userItemContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
}

.userItemContainer:hover{
    cursor: pointer;
}

.avatarContainer{
    margin: 5px 20px;
    justify-content: center;
}

.avatarContainer > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.userInfoContainer > p{
    margin: 5px 10px;
}

#userItem_username{
    /* font-weight: bold; */
    font-weight: 700;
    font-size: 19px;
}

#userItem_email{
    /* font-weight: bold; */
    font-weight: 500;
    font-size: 17px;
}

.align-vertically-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.underlinetxt:hover{
    text-decoration: underline;
    cursor: pointer;
}