<div class="userItemContainer">
    <div class="avatarContainer">
        <img [src]="user.avatar_url" alt="User avatar image">
    </div>
    <div class="userInfoContainer">
        <p id="userItem_username">{{user.username}}</p>
        <p id="userItem_email">{{user.email}}</p>
        <div class="userFollowInfo">
            <p>{{user.followers_count}} followers</p>
            <p>&#8226;</p>
            <p>{{user.following_count}} following</p>
            <p>&#8226;</p>
            <p>{{user.public_repo_count}} public repos</p>
        </div>
        
    </div>
</div>
<div class="divider" [ngStyle]="{'margin-bottom':'25px', 'margin-left':'50px',  'margin-right':'30px'}"></div>
